FINANCIAL_PROCESS_URL=http://localhost:5006
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=sigfaz
KEYCLOAK_CLIENT_ID=financial-bff
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_APP_ENV=development
